<html>
    
   
<title></title>
    <head></head>
    <header><h1>RESULTS PAGE</h1></header>
        <body>
            <ul>
                <p> <%= state %>  </p>
                <p> <%= movies %> </p>
            </ul>
        </body>
    
        <footer></footer>
</html>
